body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.banner-area {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(images/floods1.jpg);
    background-position: center;
    background-size: cover;
}

.content-area {
    height: 100%;
    display: flex;
    padding: 30px 50px;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
    font-size: 20px;
}

.content p {
    font-size: 15px;
    padding-bottom: 20px;
    color: rgb(189, 180, 180);
    padding-bottom: 40px;
    font-style: normal;
}

.link-button {
    text-decoration: none;
    background-color: rgb(216, 63, 93);
    padding: 15px;
    border-radius: 4px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 550;
}

.donate-area {
    font-size: 20px;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;

}

.paid-area p {
    font-size: 15px;
    color: rgb(173, 164, 164);
    padding: 30px 20px;
    font-style: normal;
    border-bottom: rgb(167, 162, 162);

}

footer {
    width: 100%;
    padding: 20px;
    background-color: black;
    background-position: fixed;
    text-align: center;
}

footer h2 {
    font-size: 20px;
    font-family: Lobstar;
    font-weight: 500px;
    color: #7c1b1b;
}

.donate-plan {
    text-align: center;
    padding: 30px;
    margin: 20px;
}

.planning-area {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
    padding: 15px 30px;
    box-shadow: 10px 10px 10px 10px pink;
    border-radius: 3px;
}

#food {
    padding: 15px;
}

.update-area {
    margin: 100px;
    padding-top: 30px;
    text-align: center;
}

.button-area {
    background-color: #ebcece;
    background-position: center;
    background-size: 30px 50px;
    padding: 20px 40px;
    text-align: center;
}

footer p {
    font-family: arial;
    font-size: 12px;
    color: gray;
}