body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0%;
    margin: 0;
}

.banner-area {
    width: 105%;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/floods1.jpg);
    background-size: cover;
}

.content-area {
    height: 85%;
    display: flex;
    padding: 50px 300px;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
    font-size: 30px;
}

.content p {
    font-size: 16px;
    color: rgb(189, 180, 180);
    padding-bottom: 40px;
}

.link-button {
    text-decoration: none;
    background-color: rgb(216, 63, 93);
    padding: 15px;
    border-radius: 4px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 550;
    padding-top: 20px;
}

.donate-area {
    font-size: 24px;
    text-align: center;
    padding: 40px 400px;
    padding-top: 70px;
}

.paid-area p {
    font-size: 16px;
    color: rgb(184, 172, 172);
    font-style: normal;
    border-bottom: rgb(185, 179, 179);
    width: 500;
    padding: 10px 70px;
    padding-bottom: 20px;

}

.donate-plan {
    text-align: center;
    font-size: 24px;
    padding: 40px 400px;
}

.donate-plan p {
    font-size: 15px;
    color: rgb(175, 171, 171);
}

.planning-area {
    display: inline-flex;
    padding: 30px;
    width: 100px;
    border: 15px;
    padding: 15px;
    margin: 20px;
}

.food {
    background-color: rgb(191, 255, 234);
    width: fit-content;
    padding-left: 30px;
    padding-right: 10px;
    padding: 10px;
}

.shelter {
    background-color: rgb(240, 196, 190);
    padding-left: 10px;
    padding-right: 10px;
}

.education {
    background-color: rgb(243, 255, 189);
    padding-left: 10px;
    padding-right: 30px;
}

.query-area {
    padding: 40px;
    margin-left: 10%;
    margin-right: 15%;
    background-image: url(images/donation13xn.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.sizing-para {
    width: 40%;
    height: 60vh;
    font-size: 26px;
    padding: 30px 30px;
    border-radius: 10px;
}


.query-system p {
    text-align: justify;
    font-size: 15px;
}

.update-area {
    width: 50%;
    height: 40vh;
    background-position: center;
    background-color: rgb(255, 224, 224);
    margin-bottom: 5%;
    padding: 30px;
    margin-left: 25%;
    text-align: center;
}

.update-area h1 {
    font-size: 30px;
    text-align: center;
}

.update-area p {
    font-size: 15px;
    color: rgb(153, 153, 153);
    margin-bottom: 10%;
}

.footer {
    width: 100%;
    height: 25vh;
    background-color: rgb(14, 14, 14);
    background-position: fixed;
    text-align: center;
}

footer h2 {
    font-size: 24px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ac3030;
    text-align: center;
    padding-top: 35px;
}

.footer p {
    color: rgb(168, 158, 158);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}