body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0%;
    margin: 0;
}

.banner-area {
    width: 105%;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/floods1.jpg);
    background-size: cover;
}

.content-area {
    height: 85%;
    display: flex;
    padding: 50px 300px;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
    font-size: 30px;
}

.content p {
    font-size: 18px;
    color: rgb(189, 180, 180);
    padding-bottom: 40px;
}

.link-button {
    text-decoration: none;
    background-color: rgb(216, 63, 93);
    padding: 15px;
    border-radius: 4px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 550;
    padding-top: 20px;
}

.donate-area {
    font-size: 24px;
    text-align: center;
    padding: 40px 400px;
    padding-top: 70px;
}

.paid-area p {
    font-size: 16px;
    color: rgb(184, 172, 172);
    font-style: normal;
    border-bottom: rgb(185, 179, 179);
    width: 500;
    padding: 10px 70px;
    padding-bottom: 20px;

}

footer {
    width: 100%;
    padding: 20px;
    background-color: black;
    background-position: fixed;
    text-align: center;
}

footer h2 {
    font-size: 20px;
    font-family: Lobstar;
    font-weight: 500px;
    color: #7c1b1b;
}

.donate-plan {
    text-align: center;
    padding: 30px;
    margin: 20px;
}

.planning-area {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
    padding: 15px 30px;
    box-shadow: 10px 10px 10px 10px pink;
    border-radius: 3px;
}

#food {
    padding: 15px;
}

.update-area {
    text-align: center;
    position: absolute;
    width: 700px;
    height: 50px;
    left: 375px;
    top: 1262px;

}

.button-area {
    background-color: #ebcece;
    background-position: center;
    padding: 20px 40px;
    text-align: center;
    position: absolute;
    width: 800px;
    height: 120px;
    left: 50px;
    right: 100px;
    top: 442px;

}

.resize {
    font-family: arial;
    font-size: 12px;
    color: gray;
    top: 2400px;
}